/* 首页的样式 */
/* main开始 */
.main {
    margin: 10px 0 0 220px;
    width: 980px;
    height: 455px;
}
/* 左边轮播图 */
.focus {
    position: relative;
    width: 720px;
    height: 455px;
    background-color: aqua;
}
.arrow-right,
.arrow-left {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: "icomoon";
    font-size: 16px;
}
.arrow-right {
    right: 0;
}
.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}
.circle li {
    float: left;
    width: 8px;
    height: 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 0 4px;
    border-radius: 50%;
    /* 经过有小手效果 */
    cursor: pointer;
}
.circle li:hover {
    box-shadow: 0px 0px 1px 2px white;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.current {
    background-color: #fff;
}
/* 右边快送 */
.newsflash {
    width: 250px;
    height: 455px;
    
}
.news {
    height: 163px;
    border: 1px solid #e4e4e4;
}
.news-hd {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #e4e4e4;
    padding-left: 15px;
}
.news-hd span {
    font-size: 14px;
    color: #333;
    margin-right: 111px;
}
.news-bd {
    padding-top: 10px;
    padding-left: 15px;
}
.news-bd a {
    display: block;
    margin-bottom: 4px;
}
.news-bd a span {
    margin-right: 5px;
    font-weight: 600;
}

.lifeservice {
    /* 超出大小的隐藏掉 */
    overflow: hidden;
    height: 208px;
    border: 1px solid #e4e4e4;
    border-top: none;
}
.lifeservice ul {
    /* 作为li的父亲给比li大就可以让li有足够空间浮动一行
    然后再在父级中溢出隐藏 */
    width: 255px;
}
.lifeservice ul li {
    position: relative;
    float: left;
    width: 62px;
    height: 72px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.lifeservice a {
    display: block;
    /* 解决两个父子关系块盒子之间外边距塌陷问题 */
    overflow: hidden;
    width: 62px;
    height: 72px;
}
.lifeservice a i {
    display: block;
    margin: 10px auto;
    width: 24px;
    height: 24px;
    background: url(../img/icons.png) no-repeat -16px -16px;
}
.hot {
    position: absolute;
    width: 12px;
    height: 15px;
    background: url(../img/减.jpg) no-repeat;
    top: 0;
    right: 0;
}
.lifeservice a p {
    text-align: center;
}
.bergain {
    height: 75px;
    margin-top: 5px;
}
/* 推荐模块start */
.recommend {
    margin-top: 11px;
    height: 164px;
    background-color:#ebebeb;
}
.recommend-hd {
    width: 200px;
    height: 164px;
    background-color: #5c5251;
    text-align: center;
}
.recommend-hd img {
    margin: 31px 0 10px 0;
}
.recommend-hd h3 {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}
.recom-bd {
    height: 164px;
    background-color: #ebebeb;
}
.recom-bd ul li {
    margin-top: 10px;
    float: left;
    width: 249px;
    height: 145px;
    border-right: 1px solid #dddddd;
}
.recom-bd li img {
    width: 249px;
}
.recom-bd .last {
    border-right: 0;
}
/* 推荐模块end */
/* floor区 */
.box-hd {
    margin-top: 23px;
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box-hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: normal;
}
.tab-list {
    float: right;
    line-height: 30px;
}
.tab-list li {
    float: left;
    margin: 0 8px;
}
.box-bd {
    height: 360px;
}
.w209 {
    width: 209px;
    background-color: #f9f9f9;
}
.w329{
    width: 329px;
}
.w219 {
    width: 219px;
    border-right: 1px solid #ccc;
}
.w220 {
    width: 220px;
    border-right: 1px solid #ccc;
}
.tab-con li {
    float: left;
    height: 360px;
}
.tab-con-item {
    
    border-bottom: 1px solid #ccc;
}
.tab-con-list {
    /* 清除浮动 */
    /* overflow: hidden; */
    margin-bottom: 15px;
}
.tab-con-list li {
    width: 86px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
    text-align: center;
}
.box-ft {
    margin-top: 20px;
}
.box-bd li {
    overflow: hidden;
}
.box-bd img {
    transition: all .2s;
}
.box-bd img:hover {
    margin-left: 4px;
}
/* 电梯导航 */
.fixedtool {
    position: fixed;
    top: 300px;
    left: 50%;
    margin-left: -680px;
    background-color: #fff;
    width: 66px;
}
.fixedtool ul li {
    height: 32px; 
    line-height: 32px;
    border-bottom: 1px solid #ededed; 
    text-align: center;
    cursor: pointer;
}
.fix-current {
    background-color: #c81623;
    color: #fff;
}
/* .fixedtool li a {
    display: block;
  
    height: 30px;
    width: 66px;
   
} */